sudo: required
language: elixir
services:
  - docker
cache:
  directories:
  - "$HOME/google-cloud-sdk/"
before_install:
- openssl aes-256-cbc -K $encrypted_b59a6d8249d2_key -iv $encrypted_b59a6d8249d2_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- wget https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-149.0.0-linux-x86_64.tar.gz
- tar -xzf google-cloud-sdk-149.0.0-linux-x86_64.tar.gz
- ./google-cloud-sdk/install.sh --quiet
- tar -xzf credentials.tar.gz
- ./google-cloud-sdk/bin/gcloud auth activate-service-account --key-file proteus-hackathon-1ba55bc49259.json
- git clone https://github.com/Proteus-tech/roammeet-dev.git
install:
- ./google-cloud-sdk/bin/gcloud config set project python-hackathon
script:
- cd ./roammeet-dev/elixir-docker
- docker build -t asia.gcr.io/python-hackathon/roammeet-meetup-service .
- ./google-cloud-sdk/bin/gcloud docker -- push asia.gcr.io/python-hackathon/roammeet-meetup-service